<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{admin/common :: head}"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
<body>
    <link rel="stylesheet" href="/style/admin/category.css">
    <section data-th-replace="~{admin/common :: sidebar}"></section>
    <section id="content">
      <nav data-th-replace="~{admin/common :: navbar}"></nav>
    <!-- </section> -->
    <main>
    <div class="container">
        <h2> <i class="fa-solid fa-list category-icon"></i>Category Management</h2>

        <div class="add-category">
            <button onclick="openModal()"><i class='bx bx-plus'></i> Add Category</button>
        </div>

        <table class="category-table">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Title</th>
                    <th> Category Description</th>
                    <th>Category Image</th>
                    <th>Category Hover Image</th>
                    <th>Category Status</th>
                    <th>Edit Product Category</th>
                    <th>Delete Product Category</th>
                </tr>
            </thead>
            <tbody id="category-list">
                <tr data-th-each="category:${categories}">
                    <td data-th-text="${category.categoryId}"></td>
                    <td data-th-text="${category.categoryTitle}"></td>
                    <td data-th-text="${category.categoryDescription}"></td>
                    <td> <img data-th-src="|/admin/category/images/${category.categoryId}|" alt="" style="width: 50px;"></td>
                    <td> <img data-th-src="|/admin/category/hoverimages/${category.categoryId}|" alt="" style="width: 50px;"></td>
                    <td>Enable</td>
                    <!-- <td class="actions"> -->
                        <td><button class="delete-btn" onclick="deleteCategory(this)"><i class="fa fa-trash"></i> Delete</button></td>
                        <td><button class="edit-btn" data-th-onclick="openModal([[${category.categoryId}]])"><i class="fa fa-edit"></i> Edit</button></td>
                        

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>
</section>

    <!-- Modal for Adding Category -->
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="category-modal">
        <h3 id="modal-title">Add Category</h3>
        <form action="/admin/category" method="post" enctype="multipart/form-data">
            <!-- <input type="text" id="category-id" placeholder="Category Id"> -->
            <input type="text" id="category-name" placeholder="Category Name" name="categoryTitle">
            <input type="text" id="category-desc" placeholder="Description" name="categoryDescription">
            <input type="file" id="category-img" placeholder="Category Img" name="categoryImage">
            <input type="file" id="category-img" placeholder="Category Img" name="categoryHoverImage">
            <select name="categoryStatus" id="category-status">
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">In Active</option>
            </select>
            <button type="submit">Save</button>
            <button class="cancel" onclick="closeModal()">Cancel</button>
        </form>
    </div>
    <footer data-th-replace="~{admin/common :: footer}"></footer>
    <script src="/script/category.js"></script>
 </body> 
</html> 
