<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{admin/common :: head}"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<body>
    <link rel="stylesheet" href="/style/admin/category.css">
    <section data-th-replace="~{admin/common :: sidebar}"></section>
    <section id="content">
      <nav data-th-replace="~{admin/common :: navbar}"></nav>
    </section>
    <div class="container">
        <h2>Category Management</h2>

        <div class="add-category">
            <button onclick="openModal()"><i class='bx bx-plus'></i> Add Category</button>
        </div>

        <table class="category-table">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th> Category Description</th>
                    <th>Category Img</th>
                    <th>Category Status</th>
                    <th>Edit Product Category</th>
                    <th>Delete Product Category</th>
                </tr>
            </thead>
            <tbody id="category-list">
                <tr>
                    <td></td>
                    <td>Electronics</td>
                    <td>Devices and gadgets</td>
                    <td></td>
                    <td>Enable</td>
                    <!-- <td class="actions"> -->
                        <td><button class="delete-btn" onclick="deleteCategory(this)"><i class="fa fa-trash"></i> Delete</button></td>
                        <td><button class="edit-btn" onclick="editCategory(this)"><i class="fa fa-edit"></i> Edit</button></td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal for Adding Category -->
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="category-modal">
        <h3 id="modal-title">Add Category</h3>
        <form action="" method="post">
            <input type="text" id="category-id" placeholder="Category Id">
            <input type="text" id="category-name" placeholder="Category Name">
            <input type="text" id="category-desc" placeholder="Description">
            <input type="text" id="category-img" placeholder="Category Img">
            <input type="text" id="category-status" placeholder="Category Status">
            <input type="submit">
            <button class="cancel" onclick="closeModal()">Cancel</button>
        </form>
    </div>
    <footer data-th-replace="~{admin/common :: footer}"></footer>
    <script src="/script/category.js"></script>
 </body> 
</html> 
