<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}"></head>

<body>
 <link rel="stylesheet" href="/style/admin/customer.css">
 <section data-th-replace="~{admin/common :: sidebar}"></section>
    <section id="content">
      <nav data-th-replace="~{admin/common :: navbar}"></nav>
 
			<!-- MAIN -->
		<main>
			<h2>customer</h2>
            <div class="table-data">
				<div class="order">
                   
                    </table>
            
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

    <!-- <script src="/script/dashboard.js"></script> -->
	<footer data-th-replace="~{admin/common :: footer}"></footer>
</body>
</html>