<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{admin/common :: head}"></head>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<body>
    <link rel="stylesheet" href="/style/admin/product.css">
    <section data-th-replace="~{admin/common :: sidebar}"></section>
    <section id="content">
      <nav data-th-replace="~{admin/common :: navbar}"></nav>
    
    <main>
    <!-- <div class="container"> -->
        <h2><i class="fas fa-box-open product-icon"></i> Product Management</h2>

        <div class="add-product">
            <button onclick="openModal()"><i class='bx bx-plus'></i> Add Product</button>
        </div>

        <table class="product-table">
            <thead>
                <tr>
                    <th> Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>StockQuantity</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Delete  Category</th>
                    <th>Edit  Category</th>
                </tr>
            </thead>
            <tbody id="product-list">
                <tr data-th-each="product:${products}">
                    <td data-th-text="${product.productTitle}"></td>
                    <td data-th-text="${product.productDescription}"></td>
                    <td data-th-text="${product.productPrice}"></td>
                    <td data-th-text="${product.productStockQuantity}"></td>
                    <td>
                        <img data-th-src="|/admin/product/images/${product.productId}|"alt="resin art" height="40">
                    </td>
                    <td data-th-text="${product.productStatus}"></td>
                    <td><a class="delete-btn" data-th-href="|/admin/product/remove?id=${product.productId}|"><i class="fa fa-trash"></i> Delete</a></td>
                    <td><button class="edit-btn" data-th-onclick="openModal([[${product.productId}]])"><i class="fa fa-edit"></i> Edit</button></td>
                </tr>
            </tbody>
        </table>
    </main>
    </section>

    <!-- Modal for Adding Product -->
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="product-modal">
        <h3 id="modal-title">Add Product</h3>
     <form action="/admin/product" method="post" enctype="multipart/form-data">
        <input type="text" id="product-name" placeholder="Product Name" name="productTitle">
        <input type="text" id="product-description" placeholder="Description" name="productDescription">
        <input type="text" id="product-price" placeholder="Price" name="productPrice">
        <label for="product-stock">Stock:</label>
        <input type="number" id="product-stock" name="productStockQuantity" value="0" min="0">
        <!-- <input type="number" id="product-stock" placeholder="Stock" name="productStockQuantity"> -->
        <input type="file" name="productImage" id="product" accept="images/png, images/jpeg, images/jpg">
        <select name="category" id="category">
            <option data-th-value="${category.categoryId}" data-th-each="category:${categories}" data-th-text="${category.categoryTitle}"></option>
        </select>
        <select name="productStatus" id="productStatus">
            <option value="AVAILABLE">AVAILABLE</option>
            <option value="DISCONTINUED">DISCONTINUED</option>
            <option value="OUT_OF_STOCK">OUT_OF_STOCK</option>
        </select>
        <button onclick="saveProduct()">Save</button>
        <button type="button" class="cancel" onclick="closeModal()">Cancel</button>

        <input type="hidden" name="productId" id="productId">
        <input type="hidden" name="imageUrl" id="imageUrl">
     </form>
    </div>

    <footer data-th-replace="~{admin/common :: footer}"></footer>
    <script src="/script/product.js"></script>
 </body> 
</html>    