<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{admin/common :: head}"></head>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<body>
    <link rel="stylesheet" href="/style/admin/widget.css">
    <section data-th-replace="~{admin/common :: sidebar}"></section>
    <section id="content">
      <nav data-th-replace="~{admin/common :: navbar}"></nav>
    <main>
     <!-- <div class="container"> -->
        <h2>
            <div class="widget-icon">
                <i class="fas fa-cogs"></i>
            </div>
           <span class="text" >Widget Management</span>
        </h2>
        <div class="addwidgetContainer">
            <form action="/admin/widget/add" method="post">
                <input type="text" name="widgetName" placeholder="Enter a widget name..." data-th-value="${widget != null ? widget.widgetName :'' }">
                <input type="text" placeholder="sequence id" name="sequence" data-th-value="${widget !=null ? widget.sequence: ''}">
                <input type="hidden" name="widgetId" data-th-value="${widget != null ? widget.widgetId:''}">
                <input type="submit" >
            </form>
        </div>
        <div class="addProductWidgetBtnContainer">
            <button class="addProductWidgetBtn" onclick="openModal()">Add product to widget</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Widget Name</th>
                    <th>Widget Id</th>
                    <th>sequence</th>
                    <th>Widget Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody  id="categoryTable">
                <tr data-th-each="widget :${widgets}">
                    <td data-th-text="${widget.widgetName}"></td>
                    <td data-th-text="${widget.widgetId}"></td>
                    <td data-th-text="${widget.sequence}"></td>
                    <td data-th-text="${widget.widgetStatus}" data-th-class="${widget.widgetStatus!=null && widget.widgetStatus.name() == 'ACTIVE' ? 'clr-yellow' : 'clr-red'}">
                    </td>
                     <td>
                        <a  data-th-href="|/admin/widget/edit?id=${widget.widgetId}|" class="action-link"><i class="fa-solid fa-pen-to-square"></i>
                               </a>
                        <a data-th-href="|/admin/widget/remove?id=${widget.widgetId}|" class="action-link">
                            <i class="fa-solid fa-trash"></i> </a>
                        <a data-th-href="|/admin/widget/products?id=${widget.widgetId}|"  title="Show Products"
                               style="all: unset; cursor: pointer;"><i class="fas fa-box-open"></i></a>
                     </td>
                </tr>
            </tbody>
        </table>
    </main>
    </section>
            <!-- <modal> -->
                <div class="widgetModal d-none">
                    <div class="modal-box">
                        <div class="modal-header">
                            <h2>Add product to widget</h2>
                        </div>
                        <hr>
                        <div class="modal-body">
                            <form action="/admin/widget/product/add" method="post" enctype="multipart/form-data"
                                id="widgetProductForm">
                                <p>Note: Download template <a href="/file/widget-template.csv" download>click the link</a></p>
                                <input type="file" accept="text/csv" name="file">
                                <div class="text-center">
                                    <input type="submit" value="Upload">
                                </div>
                            </form>
                        </div>
        
                        <div class="cross-icon">
                            <button onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>
        
           </section>
    </div> 
        
<footer data-th-replace="~{admin/common :: footer}"></footer>
    <script src="/script/widget.js"></script>
 </body> 
</html>   