<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/customer/checkout.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout Page</title>
  </head>
</html>
</head>
<body>
  <div class="background-animation">
    <div
      class="bubble"
      style="
        width: 31.0076px;
        height: 31.0076px;
        left: 58.4772%;
        animation-duration: 5.34973s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 41.4682px;
        height: 41.4682px;
        left: 18.5829%;
        animation-duration: 4.74427s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 40.8028px;
        height: 40.8028px;
        left: 46.6372%;
        animation-duration: 3.43815s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 21.5433px;
        height: 21.5433px;
        left: 13.3237%;
        animation-duration: 5.80998s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 39.612px;
        height: 39.612px;
        left: 72.6061%;
        animation-duration: 5.82756s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 35.8773px;
        height: 35.8773px;
        left: 12.1101%;
        animation-duration: 7.72987s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 18.2699px;
        height: 18.2699px;
        left: 0.05115%;
        animation-duration: 4.45489s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 28.406px;
        height: 28.406px;
        left: 79.138%;
        animation-duration: 7.62433s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 48.2066px;
        height: 48.2066px;
        left: 91.6289%;
        animation-duration: 7.56053s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 27.012px;
        height: 27.012px;
        left: 74.5845%;
        animation-duration: 5.54753s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 23.6533px;
        height: 23.6533px;
        left: 38.1718%;
        animation-duration: 6.58653s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.2835px;
        height: 24.2835px;
        left: 80.311%;
        animation-duration: 5.74415s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 32.0062px;
        height: 32.0062px;
        left: 24.5519%;
        animation-duration: 6.25647s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 44.3865px;
        height: 44.3865px;
        left: 47.8339%;
        animation-duration: 6.7906s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 39.5022px;
        height: 39.5022px;
        left: 49.2939%;
        animation-duration: 4.94892s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 49.4532px;
        height: 49.4532px;
        left: 45.3426%;
        animation-duration: 4.07847s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.8809px;
        height: 37.8809px;
        left: 96.3551%;
        animation-duration: 4.17337s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.1103px;
        height: 37.1103px;
        left: 6.29546%;
        animation-duration: 4.438s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.8242px;
        height: 37.8242px;
        left: 67.2067%;
        animation-duration: 6.42991s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.9408px;
        height: 37.9408px;
        left: 58.5353%;
        animation-duration: 5.947s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 18.9674px;
        height: 18.9674px;
        left: 17.7078%;
        animation-duration: 3.62829s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 10.1953px;
        height: 10.1953px;
        left: 37.8008%;
        animation-duration: 7.30709s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 18.3374px;
        height: 18.3374px;
        left: 13.3125%;
        animation-duration: 3.83353s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 38.416px;
        height: 38.416px;
        left: 72.3496%;
        animation-duration: 6.28222s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 32.7567px;
        height: 32.7567px;
        left: 68.4115%;
        animation-duration: 3.20978s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 49.4447px;
        height: 49.4447px;
        left: 74.4106%;
        animation-duration: 5.5292s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 19.0336px;
        height: 19.0336px;
        left: 81.2463%;
        animation-duration: 5.87617s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 45.0826px;
        height: 45.0826px;
        left: 29.5592%;
        animation-duration: 5.87396s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 39.5888px;
        height: 39.5888px;
        left: 36.3881%;
        animation-duration: 4.93124s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 46.131px;
        height: 46.131px;
        left: 74.4306%;
        animation-duration: 5.37783s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 12.9373px;
        height: 12.9373px;
        left: 54.6555%;
        animation-duration: 6.03582s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 16.4585px;
        height: 16.4585px;
        left: 37.9489%;
        animation-duration: 3.02173s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 48.4121px;
        height: 48.4121px;
        left: 52.1578%;
        animation-duration: 7.33128s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 25.4305px;
        height: 25.4305px;
        left: 18.2307%;
        animation-duration: 6.73793s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 13.115px;
        height: 13.115px;
        left: 61.4804%;
        animation-duration: 7.8375s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 16.8226px;
        height: 16.8226px;
        left: 87.376%;
        animation-duration: 3.95074s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 41.9515px;
        height: 41.9515px;
        left: 24.9301%;
        animation-duration: 3.57782s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.5895px;
        height: 37.5895px;
        left: 44.2487%;
        animation-duration: 6.0087s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 38.8469px;
        height: 38.8469px;
        left: 99.8433%;
        animation-duration: 3.81277s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 29.6498px;
        height: 29.6498px;
        left: 19.8564%;
        animation-duration: 4.1277s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 27.1927px;
        height: 27.1927px;
        left: 55.9303%;
        animation-duration: 5.42425s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 21.8886px;
        height: 21.8886px;
        left: 73.0514%;
        animation-duration: 7.42367s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 47.4723px;
        height: 47.4723px;
        left: 79.9551%;
        animation-duration: 7.09099s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 46.9133px;
        height: 46.9133px;
        left: 31.7526%;
        animation-duration: 4.3111s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 27.1554px;
        height: 27.1554px;
        left: 78.4564%;
        animation-duration: 7.75035s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 38.0049px;
        height: 38.0049px;
        left: 60.1613%;
        animation-duration: 5.21203s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 16.0464px;
        height: 16.0464px;
        left: 93.3285%;
        animation-duration: 5.27647s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 20.9702px;
        height: 20.9702px;
        left: 91.5254%;
        animation-duration: 6.27318s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 42.9637px;
        height: 42.9637px;
        left: 91.1466%;
        animation-duration: 3.34783s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 11.5182px;
        height: 11.5182px;
        left: 26.6517%;
        animation-duration: 5.24047s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 33.6804px;
        height: 33.6804px;
        left: 8.19439%;
        animation-duration: 7.25107s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 43.3576px;
        height: 43.3576px;
        left: 45.6294%;
        animation-duration: 4.25436s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 49.5775px;
        height: 49.5775px;
        left: 27.4374%;
        animation-duration: 7.21386s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.0566px;
        height: 24.0566px;
        left: 47.94%;
        animation-duration: 7.96855s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 46.5122px;
        height: 46.5122px;
        left: 91.2881%;
        animation-duration: 6.25909s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 46.4698px;
        height: 46.4698px;
        left: 95.7391%;
        animation-duration: 6.54677s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 46.3101px;
        height: 46.3101px;
        left: 72.2807%;
        animation-duration: 6.67924s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.9518px;
        height: 24.9518px;
        left: 39.8106%;
        animation-duration: 6.09186s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 48.8082px;
        height: 48.8082px;
        left: 46.0659%;
        animation-duration: 3.89385s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 30.8237px;
        height: 30.8237px;
        left: 75.0487%;
        animation-duration: 5.16356s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 11.3538px;
        height: 11.3538px;
        left: 9.13797%;
        animation-duration: 3.04689s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 49.3778px;
        height: 49.3778px;
        left: 76.0458%;
        animation-duration: 7.01415s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 13.1444px;
        height: 13.1444px;
        left: 48.3957%;
        animation-duration: 3.01714s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.1078px;
        height: 37.1078px;
        left: 90.8034%;
        animation-duration: 5.7243s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 12.9319px;
        height: 12.9319px;
        left: 81.1358%;
        animation-duration: 7.24965s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 31.7429px;
        height: 31.7429px;
        left: 37.8729%;
        animation-duration: 3.73077s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.2689px;
        height: 24.2689px;
        left: 94.3639%;
        animation-duration: 5.09802s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 37.6165px;
        height: 37.6165px;
        left: 96.9237%;
        animation-duration: 7.36015s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 18.4775px;
        height: 18.4775px;
        left: 26.4323%;
        animation-duration: 6.86478s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.4345px;
        height: 24.4345px;
        left: 43.337%;
        animation-duration: 6.58041s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 20.8449px;
        height: 20.8449px;
        left: 31.3469%;
        animation-duration: 3.0877s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 24.5998px;
        height: 24.5998px;
        left: 42.9881%;
        animation-duration: 5.64818s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 34.5532px;
        height: 34.5532px;
        left: 32.5166%;
        animation-duration: 6.38091s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 31.5225px;
        height: 31.5225px;
        left: 99.0856%;
        animation-duration: 3.81746s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 11.2336px;
        height: 11.2336px;
        left: 1.13095%;
        animation-duration: 7.8564s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 15.9646px;
        height: 15.9646px;
        left: 49.005%;
        animation-duration: 7.29514s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 21.2551px;
        height: 21.2551px;
        left: 98.1824%;
        animation-duration: 6.94301s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 40.7876px;
        height: 40.7876px;
        left: 16.8202%;
        animation-duration: 3.55197s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 17.7589px;
        height: 17.7589px;
        left: 66.7662%;
        animation-duration: 4.06506s;
      "
    ></div>
    <div
      class="bubble"
      style="
        width: 44.2579px;
        height: 44.2579px;
        left: 39.9577%;
        animation-duration: 3.05776s;
      "
    ></div>
  </div>
  <div class="container">
    <h2>Checkout</h2>
    <form id="checkoutForm">
      <div class="form-group">
        <label for="cardholder">Cardholder Name</label>
        <input
          type="text"
          id="cardholder"
          placeholder="Enter cardholder name"
          required=""
        />
      </div>
      <div class="form-group">
        <label for="cardnumber">Card Number</label>
        <input
          type="text"
          id="cardnumber"
          placeholder="Enter card number"
          required=""
        />
      </div>
      <div class="form-group">
        <label>Expiration Date &amp; CVC</label>
        <div class="input-group">
          <input type="text" id="expiry" placeholder="MM/YY" required="" />
          <input type="text" id="cvc" placeholder="CVC" required="" />
        </div>
      </div>
      <div class="form-group">
        <label for="payment">Payment Method</label>
        <select id="payment" required="">
          <option value="" disabled="" selected="">
            Select Payment Method
          </option>
          <option value="credit">Credit Card</option>
          <option value="debit">Debit Card</option>
          <option value="paypal">PayPal</option>
        </select>
      </div>
      <button type="submit" class="btn">Place Order</button>
    </form>
  </div>

  <!-- Success message popup -->
  <div class="popup" id="successPopup">
    <p>Your order has been placed successfully!</p>
    <p class="message">
      We are processing your order and will notify you soon.
    </p>
  </div>
  
  <script src="/script/checkout.js"></script>

</body>
</html>

